.header {
  background-image: url("../assets/header_image.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0 48px; }
  .header .nav {
    padding-top: 32px;
    padding-bottom: 55px; }
    .header .nav a {
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      color: black; }
      .header .nav a:hover {
        text-decoration: none; }
      .header .nav a .back {
        width: 38px;
        height: auto;
        margin-right: 15px; }
    .header .nav .logo {
      width: 130px; }
  .header .container .main .main-logo {
    padding-bottom: 130px; }
  .header .container .main h1 {
    font-size: 45px;
    padding-bottom: 25px; }
  .header .container .main h1, .header .container .main h6 {
    text-transform: uppercase;
    color: #ff3d42;
    font-weight: bold; }
  .header .container .main h1, .header .container .main h6, .header .container .main p {
    margin: 0; }
  .header .container .main .main_description {
    text-transform: uppercase;
    font-size: 25px;
    color: #102c3a;
    font-weight: bold;
    margin: 0;
    padding: 0; }
  .header .container .main .header_line {
    padding: 55px 0; }
  .header .container .main p {
    font-size: 18px;
    color: #102c3a;
    padding-bottom: 25px; }
  .header .container .main h6 {
    font-size: 25px;
    padding-bottom: 20px; }
  .header .container .main .booking_exp {
    padding-bottom: 105px; }

.how__we__work {
  padding-top: 100px;
  padding-bottom: 170px; }
  .how__we__work h1 {
    color: #102c3a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 50px;
    margin: 0; }
  .how__we__work .line-hide-desk {
    display: none; }
  .how__we__work .how__we__work__desc {
    padding-bottom: 30px; }
    .how__we__work .how__we__work__desc p {
      color: black;
      font-size: 12px;
      margin: 0;
      padding-bottom: 20px; }
  .how__we__work .imgs_descr h4 {
    color: #ff3d42;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    height: 44px;
    margin-bottom: 44px; }
  .how__we__work .imgs_descr p {
    color: #aaa;
    font-size: 12px;
    margin: 0; }
  .how__we__work .col-lg-3 {
    overflow: hidden; }
    .how__we__work .col-lg-3 .imgs {
      height: 50px;
      margin-bottom: 50px; }
    .how__we__work .col-lg-3 .col-4 {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      overflow: hidden;
      padding: 0; }
    .how__we__work .col-lg-3 .dot {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }

.wireframing {
  padding: 100px 0 160px 0;
  background-color: #0275ea;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 1px, transparent 1px), -webkit-linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px), -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 1px, transparent 1px), -o-linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px), linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  -webkit-background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
          background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px; }
  .wireframing .container {
    margin-right: 100px;
    padding-right: 110px; }
  .wireframing h3 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold; }
  .wireframing p {
    font-size: 15px; }
  .wireframing h3, .wireframing p {
    margin-left: 110px;
    color: white;
    width: 450px; }
  .wireframing .row .desktop-hide {
    display: none; }
  .wireframing .row .wrap img {
    max-width: 100%; }
  .wireframing .row .arr_l,
  .wireframing .row .arr_d {
    display: none; }
  .wireframing .row .desk-disp-l,
  .wireframing .row .desk-disp-d {
    display: block; }
  .wireframing .row .first-frame .arr_d {
    display: block; }
  .wireframing .row .arr_d {
    margin: 20px 0; }
  .wireframing .row .right-lg {
    display: none; }
  .wireframing .row img.dis {
    margin-left: 100px; }

.mockups {
  margin: 160px 0;
  padding-right: 15px; }
  .mockups h6 {
    margin-top: 10px;
    color: #ff3d42;
    font-weight: bold;
    font-size: 28 px;
    text-transform: uppercase; }
  .mockups h6, .mockups p {
    padding-left: 82px; }
  .mockups .col-lg-7, .mockups .col-lg-5 {
    padding: 0; }
  .mockups p {
    font-size: 20px; }
  .mockups img {
    max-width: 100%;
    width: 100%;
    height: auto; }
  .mockups .ticket_info .ticket_desk {
    font-size: 15px; }
  .mockups .ticket_info .col-lg-4 {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }

.footer a {
  text-decoration: none;
  color: black; }

body {
  font-family: 'Open Sans'; }

@media screen and (max-width: 992px) {
  .how__we__work .line-hide-desk {
    display: block; }
  .mockups h6, .mockups p {
    padding: 0; }
  .wireframing h3, .wireframing p {
    max-width: 100%;
    margin: 0; }
  .wireframing .tab_hide {
    display: none; }
  .wireframing .desk_hide {
    display: block; }
  .wireframing .row .tab-hide,
  .wireframing .row .left-lg {
    display: none; }
  .wireframing .row .desktop-hide {
    display: block; }
  .wireframing .row .arr_l,
  .wireframing .row .arr_d {
    display: none;
    margin: 20px 0; }
  .wireframing .row .tab-disp-l,
  .wireframing .row .tab-disp-d,
  .wireframing .row .right-lg {
    display: block; }
  .wireframing .row img.dis {
    margin-left: 120px; } }

@media screen and (max-width: 768px) {
  .wireframing .container {
    padding: 0 0 0 40px; }
  .wireframing h3 {
    font-size: 35px;
    margin-left: 0;
    width: 50%; }
  .wireframing p {
    width: 50%; }
  .wireframing h3, .wireframing p {
    margin-left: 125px;
    margin-bottom: 20px; }
  .wireframing .img {
    text-align: center; }
  .wireframing .mob-disp-d {
    display: block !important; }
  .wireframing .mob-hide-l {
    display: none !important; }
  .wireframing .arr_d {
    margin: 20px 0; }
  .wireframing .arr_d img.dis {
    margin-left: 0; } }
