.header {
  background-image: url("../assets/header_image.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0 48px; }
  .header .nav {
    padding-top: 32px;
    padding-bottom: 55px; }
    .header .nav a {
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      color: black; }
      .header .nav a:hover {
        text-decoration: none; }
      .header .nav a .back {
        width: 38px;
        height: auto;
        margin-right: 15px; }
    .header .nav .logo {
      width: 130px; }
  .header .container .main .main-logo {
    padding-bottom: 130px; }
  .header .container .main h1 {
    font-size: 45px;
    padding-bottom: 25px; }
  .header .container .main h1, .header .container .main h6 {
    text-transform: uppercase;
    color: #ff3d42;
    font-weight: bold; }
  .header .container .main h1, .header .container .main h6, .header .container .main p {
    margin: 0; }
  .header .container .main .main_description {
    text-transform: uppercase;
    font-size: 25px;
    color: #102c3a;
    font-weight: bold;
    margin: 0;
    padding: 0; }
  .header .container .main .header_line {
    padding: 55px 0; }
  .header .container .main p {
    font-size: 18px;
    color: #102c3a;
    padding-bottom: 25px; }
  .header .container .main h6 {
    font-size: 25px;
    padding-bottom: 20px; }
  .header .container .main .booking_exp {
    padding-bottom: 105px; }

.wireframing {
  background-color: #269; }

.wireframing .green {
  background: green;
  height: 150px;
  border: solid 1px blue; }

.wireframing .row {
  margin-bottom: 30px; }

.wireframing h3,
p {
  color: white; }

.mockups .col-lg-6 {
  border: solid 1px black; }

.mockups .img {
  background-color: #269; }

.how__we__work {
  padding-top: 100px;
  padding-bottom: 170px; }
  .how__we__work h1 {
    color: #102c3a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 50px;
    margin: 0; }
  .how__we__work .how__we__work__desc {
    padding-bottom: 30px; }
    .how__we__work .how__we__work__desc p {
      color: black;
      font-size: 12px;
      margin: 0;
      padding-bottom: 20px; }
  .how__we__work .imgs_descr h4 {
    color: #ff3d42;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    height: 44px;
    margin-bottom: 44px; }
  .how__we__work .imgs_descr p {
    color: #aaa;
    font-size: 12px;
    margin: 0; }
  .how__we__work .col-lg-3 {
    overflow: hidden; }
    .how__we__work .col-lg-3 .imgs {
      height: 50px;
      margin-bottom: 50px; }
    .how__we__work .col-lg-3 .col-4 {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      overflow: hidden;
      padding: 0; }
    .how__we__work .col-lg-3 .dot {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }

body {
  font-family: 'Open Sans'; }
