.header {
  background-image: url("../assets/header_image.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0 48px;
  

  .nav {
    padding-top: 32px;
    padding-bottom: 55px;
    a {
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      color: black;
      &:hover {
        text-decoration: none;
      }
      .back {
        width: 38px;
        height: auto;
        margin-right: 15px;
      }
    }
    .logo {
      width: 130px;
    }
  }
  .container {

    .main {

      .main-logo {
        padding-bottom: 130px;
      }
      h1 {
        font-size: 45px;
        padding-bottom: 25px;
      }
      h1, h6 {
        text-transform: uppercase;
        color: #ff3d42;
        font-weight: bold;
      }
      h1, h6, p {
        margin: 0;
      } 
      .main_description {
        text-transform: uppercase;
        font-size: 25px;
        color: #102c3a;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
      .header_line {
        padding: 55px 0;
      }
      p {
        font-size: 18px;
        color: #102c3a;
        padding-bottom: 25px;
      }
      h6 {
        font-size: 25px;
        padding-bottom: 20px;
      }
      .booking_exp {
        padding-bottom: 105px;
      }
    }
  }
}

