.container {
  margin-bottom: 50px;
}

.header {
  background-image: url("../assets/header_image.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0 48px;

  .nav {
    padding-top: 32px;
    padding-bottom: 55px;
    a {
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      color: black;
      &:hover {
        text-decoration: none;
      }
      .back {
        width: 38px;
        height: auto;
        margin-right: 15px;
      }
    }
    .logo {
      width: 130px;
    }
  }
  .container {

    .main {

      .main-logo {
        padding-bottom: 130px;
      }
      h1 {
        font-size: 45px;
      }
      h1, h6 {
        text-transform: uppercase;
        color: #ff3d42;
        font-weight: bold;
      }
      .main_description {
        text-transform: uppercase;
        font-size: 25px;
        color: #102c3a;
        font-weight: bold;
      }
      .header_line {
        padding: 55px 0;
      }
      p {
        font-size: 18px;
        color: #102c3a;
        padding-bottom: 25px;
      }
      h6 {
        font-size: 25px;
      }
      .booking_exp {
        padding-bottom: 125px;
      }
    }
  }
  
}







.main h1,
.main h6,
.underscore {
  color: red;
}

.how__we__work .how__we__work__desc {
  color: black;
}

.wireframing {
  background-color: #269;
}

.wireframing .green {
  background: green;
  height: 150px;
  border: solid 1px blue;
}

.wireframing .row {
  margin-bottom: 30px;
}

.wireframing h3,
p {
  color: white;
}

.mockups .col-lg-6 {
  border: solid 1px black;
}

.mockups .img {
  background-color: #269;
}
