.how__we__work {
  padding-top: 100px;
  h1 {
    color: #102c3a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 50px;
    margin: 0;
  }

  .how__we__work__desc {
    padding-bottom: 50px;
    p{
      color: black;
      font-size: 12px;
      margin: 0;
    }  
  }
    
}
