@import "modules/_header.scss";
@import "modules/_how_we_work.scss";
@import "modules/_wireframing.scss";
@import "modules/_mockups.scss";
@import "modules/_footer.scss";
body {
  font-family: 'Open Sans';
}


// mobile

@media screen and (max-width: 992px) {
  .how__we__work {
    .line-hide-desk {
      display: block;
    }
  }
  .mockups {
    h6, p {
      padding: 0;
    }
  }
  .wireframing {
    h3, p {
      max-width: 100%;
      margin: 0;
    }
    .tab_hide {
      display: none;
    }

    .desk_hide {
      display: block;
    }
    .row {
      .tab-hide,
      .left-lg {
        display: none;
      }
       
      .desktop-hide {
        display: block;
      }
      .arr_l,
      .arr_d {
        display: none;
        margin: 20px 0;
      }
      .tab-disp-l,
      .tab-disp-d,
      .right-lg {
        display: block;
      }
      img.dis {
        margin-left: 120px;
      }
    }   
  }
}
@media screen and (max-width: 768px) {
  .wireframing {
    .container {
      padding:0 0 0 40px;
    }
    h3 {
      font-size: 35px;
      margin-left: 0;
      width: 50%;
    }
    p {
      width: 50%;
    }
    h3, p {
      margin-left: 125px;
      margin-bottom: 20px;
    }
    .img {
      text-align: center;
    }
    .mob-disp-d {
      display: block !important;
    }
    .mob-hide-l {
      display: none !important;
    }
    .arr_d {
      margin: 20px 0;
    }
    .arr_d img.dis {
      margin-left: 0;
    }  
  }
}



